<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Destinatarios</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  RUT
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Tipo
                </th>
                <th>
                  Correo
                </th>
                <th>
                  Teléfono
                </th>
                <th>
                  Cuenta
                </th>
                <th>
                  Banco
                </th>
                <th>
                  Acciones
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of destinatarios">
                  <td>{{ item.rut }}</td>
                  <td>{{ item.name }}</td>
                  <td class="text-success font-weight-bold">{{ getTipoDestinatario(item.rut) }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.accountNumber }}</td>
                  <td>{{ item.bank.name }}</td>
                  <td>
                    <button (click)="editarDestinatarioGrilla(item._id)" title="Editar" class="btn btn-warning btn-sm mx-1">
                      <i class="now-ui-icons design_scissors"></i>
                    </button>
                    <button (click)="eliminarDestinatarioGrilla(item._id)" title="Eliminar" class="btn btn-danger btn-sm mx-1">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="title">{{ isEditMode ? 'Editar Destinatario' : 'Nuevo Destinatario' }}</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>RUT</label>
                  <input [(ngModel)]="rut" type="text" class="form-control" [readonly]="isEditMode">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Nombre</label>
                  <input [(ngModel)]="name" type="text" class="form-control" [readonly]="isEditMode">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Correo</label>
                  <input [(ngModel)]="email" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input [(ngModel)]="phone" type="number" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Cuenta</label>
                  <input [(ngModel)]="accountNumber" type="number" class="form-control" [readonly]="isEditMode">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Banco</label>
                  <select class="form-control" [(ngModel)]="selectedBank" [disabled]="isEditMode">
                    <option *ngFor="let item of banks" [value]="item._id">{{ item.name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <!-- Edit -->
                <div *ngIf="isEditMode" class="row">
                  <div class="col-md-6">
                    <button (click)="cancelarEdicion()" class="btn btn-danger btn-block">
                      Cancelar
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button (click)="editarDestinatarioBox()" class="btn btn-info btn-block">
                      Guardar Cambios
                    </button>
                  </div>
                </div>
                <!-- New Destinatario -->
                <div *ngIf="!isEditMode" class="row">
                  <div class="col-md-12">
                    <button (click)="crearDestinatario()" class="btn btn-info btn-block">
                      Crear Destinatario
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
