<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Transferencias</h5>
        </div>
        <div class="card-body">
          <div class="row mb-5">
            <div class="col-md-4">
              <button onclick="alert('Realizar Transferencia')" class="btn btn-success btn-block">
                Realizar Transferencia
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Fecha
                    </th>
                    <th>
                      Nombre
                    </th>
                    <th>
                      Banco
                    </th>
                    <th>
                      Monto
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of transferencias">
                      <td>{{ item.created | date }}</td>
                      <td>{{ item.destinatario.name }}</td>
                      <td>{{ item.destinatario.bank.name }}</td>
                      <td>${{ item.amount }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Seleccionar Destinatario</h5>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
