
<div class="logo text-center">
    <a routerLink="/" class="simple-text logo-normal">
        Prueba BancoEstado
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/transferencias">
                <i class="now-ui-icons business_money-coins"></i>
                <p>Transferencias</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/destinatarios">
                <i class="now-ui-icons users_single-02"></i>
                <p>Destinatarios</p>
            </a>
        </li>

        <li class="nav-item active active-pro">
            <a (click)="cerrarSesion()">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
                <p>Cerrar Sesión</p>
            </a>
        </li>
    </ul>
</div>
